{{#partial "content"}}
    {{#if job}}
        <h1>{{job.title}}</h1>
        <p>{{job.createdAt}}</p>
        <p>{{job.company.name}}</p>
        {{#each job.qualifications}}
            <p>{{this}}</p>
        {{/each}}

        <p>{{job.salary}}</p>
        <a href="/jobs/{{id}}/update"><button class="btn btn-warning">Edit</button></a>
    {{else}}
        <h2>Sorry, job not found.</h2>
    {{/if}}
{{/partial}}

{{> layout.hbs}}
